<script>
$(document).ready(function(){
  //for inclub
  $('#InClub_upload').on('change',function(){
    var file_data = $(this).prop('files')[0];   
    var form_data = new FormData();                  
    form_data.append('file', file_data);
    form_data.append('id', {{ business.id }});
    form_data.append('type','in-club');
  $('.modal-contrat').fadeIn(800)
  $('progress').show()
  $('#progress').show()
    $.ajax({
      xhr: function() {
              var xhr = new window.XMLHttpRequest();

              xhr.upload.addEventListener("progress", function(evt) {

                if (evt.lengthComputable) {
                  var percentComplete = evt.loaded / evt.total;
                  percentComplete = parseInt(percentComplete * 100);
                  $('#progress').text(percentComplete+"%")
                  $('progress').val(percentComplete)
                  console.log(percentComplete);
                }
                if(percentComplete == 100){
                   $('progress').hide()
                   $('#progress').hide()
                  $('#spin').show()

                }
              }, false);

              return xhr;
            },
        method: "POST",
        url: "{{ path('softivendor_crm_business_fiche_contra_ajoutPdf') }}",
        processData: false,
        contentType: false,
        data: form_data
    }).done(function( reponse ) {
      if(reponse == 'nok'){
          $('.errorclub').fadeIn(800, function(){
            $(this).parent().fadeIn(500)
          }).delay(1000).fadeOut(800)

      }else{

        rp = (JSON.parse(reponse));
        $('.inclub').append('<li class="liinclub"><a target="_blank"></i> '+ rp.fileName +'</a><div class="Editer_suppr"><a><i data-type="in-club" data-id="'+ rp.id +'" class="fa fa-search"></i></a><a><i data-id="'+ rp.id +'" class="fa fa-trash-o"></i></a></div></li>');
         //add active btn in header 
         $('.in-club-active').addClass('active');

         $('.modal-contrat').each(function(){
            $(this).find('.modal-dialog').fadeIn()
          }).delay(1000).fadeOut(800, function(){
            $(this).find('.modal-dialog').hide()
             $('#spin').hide()
          })

         console.log(msg);
         }
    });
  });


  //for in-games
  $('#InGames_upload').on('change',function(){
      var file_data = $(this).prop('files')[0];   
      var form_data = new FormData();                  
      form_data.append('file', file_data);
      form_data.append('id', {{ business.id }});
      form_data.append('type','in-games');
      $('.modal-contrat').fadeIn(800)
      $('progress').show()
  $('#progress').show()
      $.ajax({
        xhr: function() {
              var xhr = new window.XMLHttpRequest();

              xhr.upload.addEventListener("progress", function(evt) {

                if (evt.lengthComputable) {
                  var percentComplete = evt.loaded / evt.total;
                  percentComplete = parseInt(percentComplete * 100);
                  $('#progress').text(percentComplete+"%")
                  $('progress').val(percentComplete)
                  console.log(percentComplete);
                }
                if(percentComplete == 100){
                    $('progress').hide()
                   $('#progress').hide()
                  $('#spin').show()
                }
              }, false);

              return xhr;
            },
          method: "POST",
          url: "{{ path('softivendor_crm_business_fiche_contra_ajoutPdf') }}",
          processData: false,
          contentType: false,
          data: form_data
      }).done(function( reponse ) {
          if(reponse == 'nok'){
            $('.errorgames').fadeIn(800, function(){
              $(this).parent().fadeIn(500)
            }).delay(1000).fadeOut(800)

        }else{
          rp = (JSON.parse(reponse));
          $('.inGames').append('<li><a target="_blank"></i> '+ rp.fileName +'</a><div class="Editer_suppr"><a><i data-type="in-games" data-id="'+ rp.id +'" class="fa fa-search"></i></a><a><i data-id="'+ rp.id +'" class="fa fa-trash-o"></i></a></div></li>');
           //add active btn in header 
           $('.in-games-active').addClass('active');

           $('.modal-contrat').each(function(){
            $(this).find('.modal-dialog').fadeIn()
          }).delay(1000).fadeOut(800, function(){
            $(this).find('.modal-dialog').hide()
          })

           console.log(msg);
         }
      });
    });

  //for inmagazines
  $('#InMag_upload').on('change',function(){
      var file_data = $(this).prop('files')[0];   
      var form_data = new FormData();                  
      form_data.append('file', file_data);
      form_data.append('id', {{ business.id }});
      form_data.append('type','in-magazine');
      $('.modal-contrat').fadeIn(800)
      $('progress').show()
      $('#progress').show()
      $.ajax({
        xhr: function() {
              var xhr = new window.XMLHttpRequest();

              xhr.upload.addEventListener("progress", function(evt) {

                if (evt.lengthComputable) {
                  var percentComplete = evt.loaded / evt.total;
                  percentComplete = parseInt(percentComplete * 100);
                  $('#progress').text(percentComplete+"%")
                  $('progress').val(percentComplete)
                  console.log(percentComplete);
                }
                if(percentComplete == 100){
                     $('progress').hide()
                   $('#progress').hide()
                  $('#spin').show()
                }
              }, false);

              return xhr;
            },
          method: "POST",
          url: "{{ path('softivendor_crm_business_fiche_contra_ajoutPdf') }}",
          processData: false,
          contentType: false,
          data: form_data
      }).done(function( reponse ) {

          if(reponse == 'nok'){
              $('.errormag').fadeIn(800, function(){
                $(this).parent().fadeIn(500)
              }).delay(1000).fadeOut(800)

          }else{        
          rp = (JSON.parse(reponse));
          $('.inMagazine').append('<li><a target="_blank"></i> '+ rp.fileName +'</a><div class="Editer_suppr"><a><i data-type="in-magazine" data-id="'+ rp.id +'" class="fa fa-search"></i></a><a><i data-id="'+ rp.id +'" class="fa fa-trash-o"></i></a></div></li>');
           //add active btn in header 
           $('.in-magazine-active').addClass('active');

          $('.modal-contrat').each(function(){
            $(this).find('.modal-dialog').fadeIn()
          }).delay(1000).fadeOut(800, function(){
            $(this).find('.modal-dialog').hide()
          })
           console.log(msg);
         }
      });
    });

  //for insalon
  $('#InSalon_upload').on('change',function(){
        var file_data = $(this).prop('files')[0];   
        var form_data = new FormData();                  
        form_data.append('file', file_data);
        form_data.append('id', {{ business.id }});
        form_data.append('type','in-salon');
        $('.modal-contrat').fadeIn(800)
        $('progress').show()
        $('#progress').show()
        $.ajax({
           xhr: function() {
              var xhr = new window.XMLHttpRequest();

              xhr.upload.addEventListener("progress", function(evt) {

                if (evt.lengthComputable) {
                  var percentComplete = evt.loaded / evt.total;
                  percentComplete = parseInt(percentComplete * 100);
                  $('#progress').text(percentComplete+"%")
                  $('progress').val(percentComplete)
                  console.log(percentComplete);
                }
                if(percentComplete == 100){
                     $('progress').hide()
                   $('#progress').hide()
                  $('#spin').show()
                }
              }, false);

              return xhr;
            },
            method: "POST",
            url: "{{ path('softivendor_crm_business_fiche_contra_ajoutPdf') }}",
            processData: false,
            contentType: false,
            data: form_data
        }).done(function( reponse ) {
            if(reponse == 'nok'){
                $('.errorsalon').fadeIn(800, function(){
                  $(this).parent().fadeIn(500)
                }).delay(1000).fadeOut(800)

            }else{          
            rp = (JSON.parse(reponse));
            $('.InSalon').append('<li><a target="_blank"></i> '+ rp.fileName +'</a><div class="Editer_suppr"><a><i data-type="in-salon" data-id="'+ rp.id +'" class="fa fa-search"></i></a><a><i data-id="'+ rp.id +'" class="fa fa-trash-o"></i></a></div></li>');
             //add active btn in header 
             $('.in-salon-active').addClass('active');
            $('.modal-contrat').each(function(){
            $(this).find('.modal-dialog').fadeIn()
          }).delay(1000).fadeOut(800, function(){
            $(this).find('.modal-dialog').hide()
          })
             console.log(msg);
           }
        });
      });

/*-------------------------In Club delete ------------------------------------------*/

  //for deletion contrat
  $(document).on("click", ".fa-trash-o ", function() {

    id = $(this).data('id');
   
    $("#myModalSuppression").modal('show');
    $('.delete').on("click",function(){

      var dom = $(this);
      var id_contrat = id;

      //launch ajax to suppression contrats
      $.ajax({
          method: "POST",
          url: "{{ path('softivendor_crm_business_fiche_contra_suppr_contrat') }}",
          data: {id:id_contrat}
      }).done(function( reponse ) {
         //remove html if delete is success
         if(reponse == "ok"){
          
          $("li").find(`[data-id='${id}']`).parent().parent().parent().remove();
          // dom.parent().parent().parent().remove();

         }

          // $('.modal-contrat-suppr').fadeIn('slow')
           $('.modal-contrat-suppr').fadeIn(800, function(){
            $(this).children().fadeIn(500)
          }).delay(1000).fadeOut(800)

         
      });
      // //end suppression
      })
  });


/*-------------------------In magazines delete ------------------------------------------*/


  //search
  $(document).on("click", ".fa-search", function() {
      //simulate click trigger in btn -
        $('#btn-drop').css('cursor','pointer')
        $('#drop').slideDown(500)
			  $('#btn-drop i').removeClass('fa fa-plus')
			  $('#btn-drop i').addClass('fa fa-minus')

      //disabled all input unless type
      type = $(this).data('type');
      id = $(this).data('id');
      disabledAllInput(type,id);

      if(type == "in-club"){
         initializeAllInput(id);
         
          for (var i = 4 ; i < 7; i++) {
          $('.block-'+i).css('display','none');
          
          
         };

                $('#date_paiement_in_games').val("")
                $('#date_paiement_in_magazines').val("")
                $('#date_paiement_in_salon').val("")

                $("#ingames").hide();
                $("#insa").hide();
                $("#inmag").hide();


                $('#amount_ingames').val("");
                $('#amount_inmagazines').val("");
                $('#amount_insalon').val(" ");



      }
      if(type == "in-games"){
       initializeAllInputInGame(id);

          for (var i = 4 ; i < 7; i++) {
          $('.block-'+i).css('display','none');
         
         };

                $('#date_paiement_in_club').val("")
                $('#date_paiement_in_magazines').val("")
                $('#date_paiement_in_salon').val("")

                $("#inclub").hide();
                $("#insa").hide();
                $("#inmag").hide();


                $('#amount_inclub').val("");
                $('#amount_inmagazines').val("");
                $('#amount_insalon').val(" ");

      }
      
      if(type == "in-magazine") {
      initializeAllInputInMagazines(id);

        for (var i = 4 ; i < 7; i++) {
          $('.block-'+i).css('display','none');
           
          // $('.block-inclub-'+i).val("");
          // $('.block-ingames-'+i).val("");
         };

                $('#date_paiement_in_club').val("")
                $('#date_paiement_in_games').val("")
                $('#date_paiement_in_salon').val("")

                $("#inclub").hide();
                $("#insa").hide();
                $("#inmag").hide();


                $('#amount_inclub').val("");
                $('#amount_ingames').val("");
                $('#amount_insalon').val(" ");

      }

      if(type == "in-salon"){
        initializeAllInputInSalon(id);

          for (var i = 4 ; i < 7; i++) {
          $('.block-'+i).css('display','none');
         
          
         };

                $('#date_paiement_in_club').val("")
                $('#date_paiement_in_games').val("")
                $('#date_paiement_in_magazines').val("")

                $("#inclub").hide();
                $("#insa").hide();
                $("#inmag").hide();


                $('#amount_inclub').val("");
                $('#amount_ingames').val("");
                $('#amount_inmagazines').val(" ");
      }
  });



 

  function disabledAllInput(type,id){
    typeA = ["in-club", "in-games", "in-magazine",'in-salon'];
    for (var i = 0; i < 4; i++) {
       if (type != typeA[i]) {
          $("."+typeA[i]+" :input").prop("disabled", true);
          $("."+typeA[i]+" .fa-plus-square").hide();
       }else{
          $("."+typeA[i]+" :input").prop("disabled", false);
          $("."+typeA[i]+" .fa-plus-square").show();
          $("."+typeA[i]+" .id_contrat").val(id);
       }
    };
    
  }

/*-------------------------In Club Initialize ------------------------------------------*/

  function initializeAllInput(id){
     $.ajax({
          method: "POST",
          url: "{{ path('softivendor_crm_business_fiche_contra_initialize_contrat_data') }}",
          data: {id : id}
      }).done(function( reponse ) {
            //initialize
            data = JSON.parse(reponse);
            // console.log(data.data['montant']);
            // console.log(data.data.datePaiement);
            //initialize croix in input echollonement
            $('.teste').each(function(){
               $(this).hide();
            });
            //initialize input echollonement
            for (var i = 0 ; i < 6; i++) {
                  j = i+1;
                  $('#echolonnement_'+ j +'_in_club').val("");
                  $('#echolonnement_'+ j +'_in_games').val("");
                  $('#echolonnement_'+ j +'_in_magazines').val("");
                  $('#echolonnement_'+ j +'_in_salon').val("");
                  $('#prix_'+ j +'_echolonnement_in_club').val("");
                  $('#prix_'+ j +'_echolonnement_in_games').val("");
                  $('#prix_'+ j +'_echolonnement_in_magazines').val("");
                  $('#prix_'+ j +'_echolonnement_in_salon').val("");

                 
            };

             $('#amount_inclub').val(data.data.montant);
             $('#date_paiement_in_club').val(data.data.datePaiement);
             $('#date_signature_in_club').val(data.data.dateSignature);
             $('#date_fin_adhesion_in_club').val(data.data.dateFinAdhesion);
             if ($('#date_paiement_in_club').val() != "") {
                  $("#inc").show();
              

             }else{
              $("#inc").hide();
             }

            for (var i = 0 ; i < 6; i++) {
                  j = i+1;

              if (data.ech[i]['date_'+j] !== undefined) {
                  $('#echolonnement_'+ j +'_in_club').val(data.ech[i]['date_'+j]);
                  $('#prix_'+ j +'_echolonnement_in_club').val(data.ech[i]['prix_'+j]);
                  $('#prix_'+ j +'_echolonnement_in_club').parent().prev().show();
                  $('#echolonnement_'+ j +'_in_club').parent().prev().show();
                  $('.block-inclub').val(j);
                  $('#echolonnement_'+ j +'_in_club').parent().parent().show();
                  $('#prix_'+ j +'_echolonnement_in_club').parent().parent().show();
                  $('#in_club_increment').val(j + 1);
              }else{
                   if (j >= 4 ) {
                      $('#echolonnement_'+ j +'_in_club').parent().parent().hide();
                      $('#prix_'+ j +'_echolonnement_in_club').parent().parent().hide();
                   }
              }
              //console.log(data.ech[i]);
            };
            //console.log(data.ech);

      // var montanttotal = $('#amount_inclub').val();
      // var montantEchelonnement = [] ;
      // for (var i = 1; i < 5; i++) {  
      //     montantEchelonnement.push( $('#prix_'+ i +'_echolonnement_in_club').val());

      // }
      //     switch (montantEchelonnement){

      //           case montantEchelonnement[1] !== undefined:
      //                alert(montantEchelonnement[1]);
      //                total = montanttotal - montantEchelonnement[1];
      //           break;
      //     }

      // console.log(total);
           
      });
  }

  /*-------------------------In Club ------------------------------------------*/

/*-------------------------In game initialize------------------------------------------*/

function initializeAllInputInGame(id){
     $.ajax({
          method: "POST",
          url: "{{ path('softivendor_crm_business_fiche_contra_initialize_contrat_data') }}",
          data: {id : id}
      }).done(function( reponse ) {
            //initialize
            data = JSON.parse(reponse);
            //initialize croix in input echollonement
            $('.teste').each(function(){
               $(this).hide();
            });
            //initialize input echollonement
            for (var i = 0 ; i < 6; i++) {
                  j = i+1;
                  
                  $('#echolonnement_'+ j +'_in_club').val("");
                  $('#echolonnement_'+ j +'_in_games').val("");
                  $('#echolonnement_'+ j +'_in_magazines').val("");
                  $('#echolonnement_'+ j +'_in_salon').val("");
                  $('#prix_'+ j +'_echolonnement_in_games').val("");
                  $('#prix_'+ j +'_echolonnement_in_club').val("");
                  $('#prix_'+ j +'_echolonnement_in_magazines').val("");
                  $('#prix_'+ j +'_echolonnement_in_salon').val("");
            };

              $('#amount_ingames').val(data.data.montant);
  
              $('#date_paiement_in_games').val(data.data.datePaiement);

              $('#date_signature_in_games').val(data.data.dateSignature);
              $('#date_fin_adhesion_in_games').val(data.data.dateFinAdhesion);

              if ($('#date_paiement_in_games').val() != "") {
                    $("#ingames").show();
  
              }else{
                $("#ingames").hide();
              }

            for (var i = 0 ; i < 6; i++) {
                  j = i+1;
              if (data.ech[i]['date_'+j] !== undefined) {
                  $('#echolonnement_'+ j +'_in_games').val(data.ech[i]['date_'+j]);                  
                  $('#prix_'+ j +'_echolonnement_in_games').val(data.ech[i]['prix_'+j]);
                  $('#prix_'+ j +'_echolonnement_in_games').parent().prev().show();
                  $('#echolonnement_'+ j +'_in_games').parent().prev().show();
                  $('.block-ingames').val(j);
                  $('#echolonnement_'+ j +'_in_games').parent().parent().show();
                  $('#prix_'+ j +'_echolonnement_in_games').parent().parent().show();
                  $('#in_games_increment').val(j + 1);
              }else{
                   if (j >= 4 ) {
                      $('#echolonnement_'+ j +'_in_games').parent().parent().hide();
                      $('#prix_'+ j +'_echolonnement_in_club').parent().parent().hide();
                   }
              }
              //console.log(data.ech[i]);
            };
            //console.log(data.ech);
      });
  }

  /*-------------------------In game ------------------------------------------*/


/*-------------------------In magazines initialize------------------------------------------*/

function initializeAllInputInMagazines(id){

     $.ajax({
          method: "POST",
          url: "{{ path('softivendor_crm_business_fiche_contra_initialize_contrat_data') }}",
          data: {id : id}
      }).done(function( reponse ) {
            //initialize
            data = JSON.parse(reponse);
            //initialize croix in input echollonement
            $('.teste').each(function(){
               $(this).hide();
            });
            //initialize input echollonement
            for (var i = 0 ; i < 6; i++) {
                  j = i+1;
                  $('#echolonnement_'+ j +'_in_magazines').val("");
                  $('#echolonnement_'+ j +'_in_club').val("");
                  $('#echolonnement_'+ j +'_in_games').val("");
                  $('#echolonnement_'+ j +'_in_salon').val("");
                  $('#prix_'+ j +'_echolonnement_in_magazines').val("");
                  $('#prix_'+ j +'_echolonnement_in_club').val("");
                  $('#prix_'+ j +'_echolonnement_in_games').val("");
                  $('#prix_'+ j +'_echolonnement_in_salon').val("");
            };

              $('#amount_inmagazines').val(data.data.montant);
                         
              $('#date_paiement_in_magazines').val(data.data.datePaiement);

              $('#date_signature_in_magazines').val(data.data.dateSignature);
              $('#date_fin_adhesion_in_magazines').val(data.data.dateFinAdhesion);
              if ($('#date_paiement_in_magazines').val() != "") {
                    $("#inmag").show();
  
              }else{
                $("#inmag").hide();
              }

            for (var i = 0 ; i < 6; i++) {
                  j = i+1;
              if (data.ech[i]['date_'+j] !== undefined) {
                  $('#echolonnement_'+ j +'_in_magazines').val(data.ech[i]['date_'+j]);
                  $('#prix_'+ j +'_echolonnement_in_magazines').val(data.ech[i]['prix_'+j]);
                  $('#prix_'+ j +'_echolonnement_in_magazines').parent().prev().show();
                  $('#echolonnement_'+ j +'_in_magazines').parent().prev().show();
                  $('.block-inmagazines').val(j);
                  $('#echolonnement_'+ j +'_in_magazines').parent().parent().show();
                  $('#prix_'+ j +'_echolonnement_in_magazines').parent().parent().show();
                  $('#in_magazines_increment').val(j + 1);
              }else{
                   if (j >= 4 ) {
                      $('#echolonnement_'+ j +'_in_magazines').parent().parent().hide();
                      //$('#prix_'+ j +'_echolonnement_in_magazines').parent().parent().hide();
                   }
              }
              //console.log(data.ech[i]);
            };
            //console.log(data.ech);
      });
  }

  /*-------------------------In magazine ------------------------------------------*/


  /*-------------------------In salon initialize------------------------------------------*/

function initializeAllInputInSalon(id){

     $.ajax({
          method: "POST",
          url: "{{ path('softivendor_crm_business_fiche_contra_initialize_contrat_data') }}",
          data: {id : id}
      }).done(function( reponse ) {
            //initialize
            data = JSON.parse(reponse);
            //initialize croix in input echollonement
            $('.teste').each(function(){
               $(this).hide();
            });
            //initialize input echollonement
            for (var i = 0 ; i < 6; i++) {
                  j = i+1;
                  $('#echolonnement_'+ j +'_in_salon').val("");
                  $('#echolonnement_'+ j +'_in_magazines').val("");
                  $('#echolonnement_'+ j +'_in_club').val("");
                  $('#echolonnement_'+ j +'_in_games').val("");
                  $('#prix_'+ j +'_echolonnement_in_salon').val("");
                  $('#prix_'+ j +'_echolonnement_in_magazines').val("");
                  $('#prix_'+ j +'_echolonnement_in_club').val("");
                  $('#prix_'+ j +'_echolonnement_in_games').val("");
                 
            };

              $('#amount_insalon').val(data.data.montant);
              
              $('#date_paiement_in_salon').val(data.data.datePaiement);

              $('#date_signature_in_salon').val(data.data.dateSignature);
              $('#date_fin_adhesion_in_salon').val(data.data.dateFinAdhesion);

              if ($('#date_paiement_in_salon').val() != "") {
                    $("#insa").show();
  
              }else{
                $("#insa").hide();
              }

            for (var i = 0 ; i < 6; i++) {
                  j = i+1;
              if (data.ech[i]['date_'+j] !== undefined) {
                  $('#echolonnement_'+ j +'_in_salon').val(data.ech[i]['date_'+j]);
                  $('#prix_'+ j +'_echolonnement_in_salon').val(data.ech[i]['prix_'+j]);
                  $('#prix_'+ j +'_echolonnement_in_salon').parent().prev().show();
                  $('#echolonnement_'+ j +'_in_salon').parent().prev().show();
                  $('.block-insalon').val(j);
                  $('#echolonnement_'+ j +'_in_salon').parent().parent().show();
                  $('#prix_'+ j +'_echolonnement_in_salon').parent().parent().show();
                  $('#in_salon_increment').val(j + 1);
              }else{
                   if (j >= 4 ) {
                      $('#echolonnement_'+ j +'_in_salon').parent().parent().hide();
                      $('#prix_'+ j +'_echolonnement_in_magazines').parent().parent().hide();
                   }
              }
              //console.log(data.ech[i]);
            };
            //console.log(data.ech);
      });
  }

  /*-------------------------In salon ------------------------------------------*/


  /*-------------------------In club save ------------------------------------------*/

  //save echollonement
  $('.save_inclub').click(function(){

      var montant = $("#amount_inclub").val();
      var totalechelonnement = 0;
      for (var i = 1; i <= 6 ; i++) {
         totalechelonnement += +$('#prix_'+i+'_echolonnement_in_club').val();
       }
      
      var total = montant - totalechelonnement
      
      if(total >= 0){


      var type = $(this).data('type');
      var form_data = new FormData();                  
      form_data.append('montant', $('#amount_inclub').val());
      form_data.append('date', $('#date_paiement_in_club').val());
      form_data.append('dateSignature', $('#date_signature_in_club').val());
      form_data.append('dateFinAdhesion', $('#date_fin_adhesion_in_club').val());
      //echollnnenmt
      form_data.append('date_1', $('#echolonnement_1_in_club').val());
      form_data.append('date_2', $('#echolonnement_2_in_club').val());
      form_data.append('date_3', $('#echolonnement_3_in_club').val());
      form_data.append('date_4', $('#echolonnement_4_in_club').val());
      form_data.append('date_5', $('#echolonnement_5_in_club').val());
      form_data.append('date_6', $('#echolonnement_6_in_club').val());
      form_data.append('prix_1', $('#prix_1_echolonnement_in_club').val());  
      form_data.append('prix_2', $('#prix_2_echolonnement_in_club').val());  
      form_data.append('prix_3', $('#prix_3_echolonnement_in_club').val());  
      form_data.append('prix_4', $('#prix_4_echolonnement_in_club').val());  
      form_data.append('prix_5', $('#prix_5_echolonnement_in_club').val());  
      form_data.append('prix_6', $('#prix_6_echolonnement_in_club').val()); 
      form_data.append('id', $("."+type+" .id_contrat").val());
      $.ajax({
          method: "POST",
          url: "{{ path('softivendor_crm_business_fiche_contra_save_contrat_data') }}",
          processData: false,
          contentType: false,
          data: form_data
      }).done(function( reponse ) {
            if (reponse == "ok") {
              if ($('#date_paiement_in_club').val() != "") {
                  $("#inc").show();
              }
              //echelonement ajout croix
              $('input[id^="echolonnement_"]').each(function(){
                  val = $(this).val();
                  if (val != "") {
                      $(this).parent().prev().show();
                  }
              });

             
              $('.modal-contrat-modif').fadeIn(800, function(){
                $(this).children().fadeIn(500)
                }).delay(1000).fadeOut(800, function(){
                  location.href = "{{ path('softivendor_crm_business_fiche_central',{next:business.id}) }}";
                })

               


            };
      });
 }
 else {
    let html = '<div class="alert alert-warning validate-montant">le montant '+ montant + ' est inferieur à celle du total de l\'échelonnement '+ totalechelonnement + '</div>';

    $('.message-alert').fadeIn(800, function(){
      $(this).append(html).delay(4000).fadeOut(800, function(){
        $(this).children().remove()
      })
    })

 }

  })


  /*-------------------------In club save ------------------------------------------*/

  /*-------------------------In game save ------------------------------------------*/

  //save echollonement
  $('.save_ingames').click(function(){

    var montant = $("#amount_ingames").val();
    var totalechelonnement = 0;
    for (var i = 1; i <= 6 ; i++) {
        totalechelonnement += +$('#prix_'+i+'_echolonnement_in_games').val();
    }
      
    var total = montant - totalechelonnement
      
    if(total >= 0){

      var type = $(this).data('type');
      
      var form_data = new FormData();                  
      form_data.append('montant', $('#amount_ingames').val());
      form_data.append('date', $('#date_paiement_in_games').val());

      form_data.append('dateSignature', $('#date_signature_in_games').val());
      form_data.append('dateFinAdhesion', $('#date_fin_adhesion_in_games').val());
      //echollnnenmt
      form_data.append('date_1', $('#echolonnement_1_in_games').val());
      form_data.append('date_2', $('#echolonnement_2_in_games').val());
      form_data.append('date_3', $('#echolonnement_3_in_games').val());
      form_data.append('date_4', $('#echolonnement_4_in_games').val());
      form_data.append('date_5', $('#echolonnement_5_in_games').val());
      form_data.append('date_6', $('#echolonnement_6_in_games').val());
      form_data.append('prix_1', $('#prix_1_echolonnement_in_games').val());  
      form_data.append('prix_2', $('#prix_2_echolonnement_in_games').val());  
      form_data.append('prix_3', $('#prix_3_echolonnement_in_games').val());  
      form_data.append('prix_4', $('#prix_4_echolonnement_in_games').val());  
      form_data.append('prix_5', $('#prix_5_echolonnement_in_games').val());  
      form_data.append('prix_6', $('#prix_6_echolonnement_in_games').val()); 
      form_data.append('id', $("."+type+" .id_contrat").val());
      $.ajax({
          method: "POST",
          url: "{{ path('softivendor_crm_business_fiche_contra_save_contrat_data') }}",
          processData: false,
          contentType: false,
          data: form_data
      }).done(function( reponse ) {
            if (reponse == "ok") {
              if ($('#date_paiement_in_games').val() != "") {
                  $("#ingames").show();
              }
              //echelonement ajout croix
              $('input[id^="echolonnement_"]').each(function(){
                  val = $(this).val();
                  if (val != "") {
                      $(this).parent().prev().show();
                  }
              });

             
              $('.modal-contrat-modif').fadeIn(800, function(){
                $(this).children().fadeIn(500)
                }).delay(1000).fadeOut(800, function(){
                    location.href = "{{ path('softivendor_crm_business_fiche_central',{next:business.id}) }}";
                })


            };
      });
    }
    else {
       let html = '<div class="alert alert-warning validate-montant">le montant '+ montant + ' est inferieur à celle du total de l\'échelonnement '+ totalechelonnement + '</div>';

    $('.message-alert').fadeIn(800, function(){
      $(this).append(html).delay(4000).fadeOut(800, function(){
        $(this).children().remove()
      })
    })
    }

  })
  /*-------------------------In games save ------------------------------------------*/


   /*-------------------------In magazines save ------------------------------------------*/

  //save echollonement
  $('.save_inmagazines').click(function(){


    var montant = $("#amount_inmagazines").val();
    var totalechelonnement = 0;
    for (var i = 1; i <= 6 ; i++) {
        totalechelonnement += +$('#prix_'+i+'_echolonnement_in_magazines').val();
    }
      
    var total = montant - totalechelonnement
      
    if(total >= 0){


      var type = $(this).data('type');
      var form_data = new FormData();                  
      form_data.append('montant', $('#amount_inmagazines').val());
      form_data.append('date', $('#date_paiement_in_magazines').val());

      form_data.append('dateSignature', $('#date_signature_in_magazines').val());
      form_data.append('dateFinAdhesion', $('#date_fin_adhesion_in_magazines').val());
      //echollnnenmt
      form_data.append('date_1', $('#echolonnement_1_in_magazines').val());
      form_data.append('date_2', $('#echolonnement_2_in_magazines').val());
      form_data.append('date_3', $('#echolonnement_3_in_magazines').val());
      form_data.append('date_4', $('#echolonnement_4_in_magazines').val());
      form_data.append('date_5', $('#echolonnement_5_in_magazines').val());
      form_data.append('date_6', $('#echolonnement_6_in_magazines').val());
      form_data.append('prix_1', $('#prix_1_echolonnement_in_magazines').val());  
      form_data.append('prix_2', $('#prix_2_echolonnement_in_magazines').val());  
      form_data.append('prix_3', $('#prix_3_echolonnement_in_magazines').val());  
      form_data.append('prix_4', $('#prix_4_echolonnement_in_magazines').val());  
      form_data.append('prix_5', $('#prix_5_echolonnement_in_magazines').val());  
      form_data.append('prix_6', $('#prix_6_echolonnement_in_magazines').val()); 
      form_data.append('id', $("."+type+" .id_contrat").val());
      $.ajax({
          method: "POST",
          url: "{{ path('softivendor_crm_business_fiche_contra_save_contrat_data') }}",
          processData: false,
          contentType: false,
          data: form_data
      }).done(function( reponse ) {
            if (reponse == "ok") {
              if ($('#date_paiement_in_magazines').val() != "") {
                  $("#inmag").show();
              }
              //echelonement ajout croix
              $('input[id^="echolonnement_"]').each(function(){
                  val = $(this).val();
                  if (val != "") {
                      $(this).parent().prev().show();
                  }
              });

             
              $('.modal-contrat-modif').fadeIn(800, function(){
                $(this).children().fadeIn(500)
                }).delay(1000).fadeOut(800, function(){
                    location.href = "{{ path('softivendor_crm_business_fiche_central',{next:business.id}) }}";
                })
            };
      });

    }
    else {
      let html = '<div class="alert alert-warning validate-montant">le montant '+ montant + ' est inferieur à celle du total de l\'échelonnement '+ totalechelonnement + '</div>';

    $('.message-alert').fadeIn(800, function(){
      $(this).append(html).delay(4000).fadeOut(800, function(){
        $(this).children().remove()
      })
    })
    }

  })
  /*-------------------------In magazines save ------------------------------------------*/

    /*-------------------------In salon save ------------------------------------------*/

  //save echollonement
  $('.save_insalon').click(function(){


    var montant = $("#amount_insalon").val();
    var totalechelonnement = 0;
    for (var i = 1; i <= 6 ; i++) {
        totalechelonnement += +$('#prix_'+i+'_echolonnement_in_salon').val();
    }
      
    var total = montant - totalechelonnement
      
    if(total >= 0){
      
      var type = $(this).data('type');
      var form_data = new FormData();                  
      form_data.append('montant', $('#amount_insalon').val());
      form_data.append('date', $('#date_paiement_in_salon').val());

      form_data.append('dateSignature', $('#date_signature_in_salon').val());
      form_data.append('dateFinAdhesion', $('#date_fin_adhesion_in_salon').val());
      //echollnnenmt
      form_data.append('date_1', $('#echolonnement_1_in_salon').val());
      form_data.append('date_2', $('#echolonnement_2_in_salon').val());
      form_data.append('date_3', $('#echolonnement_3_in_salon').val());
      form_data.append('date_4', $('#echolonnement_4_in_salon').val());
      form_data.append('date_5', $('#echolonnement_5_in_salon').val());
      form_data.append('date_6', $('#echolonnement_6_in_salon').val());
      form_data.append('prix_1', $('#prix_1_echolonnement_in_salon').val());  
      form_data.append('prix_2', $('#prix_2_echolonnement_in_salon').val());  
      form_data.append('prix_3', $('#prix_3_echolonnement_in_salon').val());  
      form_data.append('prix_4', $('#prix_4_echolonnement_in_salon').val());  
      form_data.append('prix_5', $('#prix_5_echolonnement_in_salon').val());  
      form_data.append('prix_6', $('#prix_6_echolonnement_in_salon').val()); 
      form_data.append('id', $("."+type+" .id_contrat").val());
      $.ajax({
          method: "POST",
          url: "{{ path('softivendor_crm_business_fiche_contra_save_contrat_data') }}",
          processData: false,
          contentType: false,
          data: form_data
      }).done(function( reponse ) {
            if (reponse == "ok") {
              if ($('#date_paiement_in_salon').val() != "") {
                  $("#insa").show();
              }
              //echelonement ajout croix
              $('input[id^="echolonnement_"]').each(function(){
                  val = $(this).val();
                  if (val != "") {
                      $(this).parent().prev().show();
                  }
              });

             
              $('.modal-contrat-modif').fadeIn(800, function(){
                $(this).children().fadeIn(500)
                }).delay(1000).fadeOut(800, function(){
                    location.href = "{{ path('softivendor_crm_business_fiche_central',{next:business.id}) }}";
                })
            };
      });
    }
    else {
       let html = '<div class="alert alert-warning validate-montant">le montant '+ montant + ' est inferieur à celle du total de l\'échelonnement '+ totalechelonnement + '</div>';

    $('.message-alert').fadeIn(800, function(){
      $(this).append(html).delay(4000).fadeOut(800, function(){
        $(this).children().remove()
      })
    })
    }

  })


  /*-------------------------In salon save ------------------------------------------*/

  
  $('.btn-theme').on('click',function(){

    $('.dpMonths input').datepicker({
        format: "dd/mm/yyyy",
     });

     //var valinput = $('#echolonnement_1_in_club').val();

    //alert(valinput);
    //var valinput = $('#echolonnement_1_in_club').val();

    //if( valinput =! "" ) {                      
        //$('#prix_echolonnement_1_in_club').css('display','block') ;  
     //}

  });

});
</script>

<script type="text/javascript" charset="utf-8" >

$(document).ready(function(){
  // var montant = $("#amount_inclub").val();
  // var totalechelonnement = 0
  // for (var i = 1; i <= 6 ; i++) {
  //    totalechelonnement += +$('#prix_'+i+'_echolonnement_in_club').val();
  //  }
  
  // var total = montant - totalechelonnement
  // alert(total);

$('#date_paiement_in_club').on('focus',function(){

  setInterval(function() {
  if($('#date_paiement_in_club').val() != ""){
    for (var i = 1; i <= 6 ; i++) {
      //    totalechelonnement += +$('#prix_'+i+'_echolonnement_in_club').val();
      $('#echolonnement_'+i+'_in_club').prop("disabled",'disabled');
      $('#prix_'+i+'_echolonnement_in_club').prop("disabled",'disabled');
      }

  }
  },100);

  })

  $('#date_paiement_in_games').on('focus',function(){

    setInterval(function() {
    if($('#date_paiement_in_games').val() != ""){
      for (var i = 1; i <= 6 ; i++) {
        //    totalechelonnement += +$('#prix_'+i+'_echolonnement_in_club').val();
        $('#echolonnement_'+i+'_in_games').prop("disabled",'disabled');
        $('#prix_'+i+'_echolonnement_in_games').prop("disabled",'disabled');
        }

    }
    },100);

    })

    $('#date_paiement_in_magazines').on('focus',function(){

      setInterval(function() {
      if($('#date_paiement_in_magazines').val() != ""){
        for (var i = 1; i <= 6 ; i++) {
          //    totalechelonnement += +$('#prix_'+i+'_echolonnement_in_club').val();
          $('#echolonnement_'+i+'_in_magazines').prop("disabled",'disabled');
          $('#prix_'+i+'_echolonnement_in_magazines').prop("disabled",'disabled');
          }

      }
      },100);
    })
      $('#date_paiement_in_salon').on('focus',function(){

        setInterval(function() {
        if($('#date_paiement_in_salon').val() != ""){
          for (var i = 1; i <= 6 ; i++) {
            //    totalechelonnement += +$('#prix_'+i+'_echolonnement_in_club').val();
            $('#echolonnement_'+i+'_in_salon').prop("disabled",'disabled');
            $('#prix_'+i+'_echolonnement_in_salon').prop("disabled",'disabled');
            }

        }
        },100);
})



})
</script> 


<script type="text/javascript">
  
// $(document).ready(function(){

//   $('#date_signature_in_club').on('change',function(){

//     setInterval(function() {
//       console.log($('#date_signature_in_club').val());
//     },100);

//     })

// })


  $(function(){
    $("#date_fin_adhesion_in_club").click(function(){

        var dateSignature = $(this).parent().parent().parent().prev().find("#date_signature_in_club").val();

        var dateextract = dateSignature.split("/");

        var annee = parseInt(dateextract[2]) + 1;
        var mois  = dateextract[1];
        var jour  = dateextract[0];

        dateexact = jour + '/' + mois + '/' + annee

        console.log(dateexact);

        $(this).val(dateexact);

   });
});

</script>