{% extends ':crm:layout.html.twig' %}

{% block header %}
          <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <ul class="nav top-menu">
          <li class="titre-affichage"><span class="text-center">Affichage :</span></li>

          <li class="dropdown">
            <a class="list-entreprise" title="FICHE" href="{{ path('softivendor_crm_event_fiche_ingame') }}">
              <i class="fa fa-file-text-o"></i>
               FICHE
              </a>
          </li>
          <li class="dropdown">
            <a class="list-entreprise" href="{{ path('softivendor_crm_event_list_ingames') }}" title="LISTE">
               <i class="fa fa-list-ul"></i>
             LISTE
              </a>
          </li>
        </ul>
      </div> 

      <div class="top-menu logout">
          <ul class="nav pull-right top-menu">
             <li class="nombre" style="margin-right: 100px;"><span class="nombre-titre">Nombre</span> <span class="nombre_id">{{ listEvent }}</span></li>

          </ul>
          
      </div>

         
          
   

 {% endblock %}

 {% block body %} 



<section class="wrapper event">
      <div class="container-fluid">
        <div class="row titre">
          <div class="col-lg-12">
            <h3><i class="fa fa-angle-right"></i> Liste des evénements in games</h3>
          </div>
        </div>


        {% for key, messages in app.session.flashbag.all() %}

      <div class="modal-contrat-suppr-2">
                    <div class="modal-dialog">
                        <div class="modal-content">

                        <div class="modal-header text-center">
                            <h4 class="modal-title" id="myModalLabel"> {% for message in messages %}  {{ message }} <br /> {% endfor %}</h4>
                        </div>
                        <div class="modal-body">
                                <i class="fa fa-check-circle true"></i>
                                </div>
                        </div>
                    </div>
                    </div>

        {% endfor %}

        <div class="alert alert-success  modif" style="display: none;" role="alert">
          <strong>Modification Réussi ! </strong>
        </div>

        <div class="row link-event">

    

         {% for event in dataGamesAndEvent %}


            <div class="col-md-6 col-lg-4 event-list">
              <div class="scroll_tab">
              <div class="row">
                <div class="col-xs-9">
                    <a href="{{path('softivendor_crm_event_fiche_ingame',{'next':event['event'].id})}}" >
                          <h3><span>{{ event['event'].titre }}</span></h3>
                        </a>
                </div>

                <div  class="col-xs-3 nombre_invite">
                  <div class="nbr_part_{{event['event'].id}}">
                    <big class="count_{{event['event'].id}}">{{CountStateUserGame(event['event'])}}</big>
                    <i class="arrow fa fa-angle-down"></i>
                  </div>
                </div>

              </div> 
            </div>

              <div class="row">
                <div class="col-md-12 mt tableau-list">
                    <div class="content-panel">

                       <div style="float: right;">
                            <select name="" class="export_option_event" >
                                <option value="1">Liste de tous les invités de cette soirée (xlsx)</option>
                                <option value="2">Liste de toutes les factures de cette soirée (xlsx)</option>
                                <option value="3">Liste de toutes les factures de cette soirée (pdf)</option> 
                                <option value="4">Liste de tous les invités de cette soirée (pdf)</option>
                            </select>
                            <button type="button"   class="white-rounded-button voir_export_event btn btn-theme04">Voir </button>
                            <input type="hidden" id="eventId"  value="{{event['event'].id}}" class="event_id">
                        </div>
    
                      <table class="table table-hover table-striped table-advance table-in-game">
                        <thead>
                          <tr>
                            <th  width="10%"></th>
                            <th  width="10%">Nom</th>
                            <th  width="10%">Prenom</th>
                            <th  width="10%">Société</th>
                            <th width="45%">Presence</th>
                            <th  width="15%">Actions</th>
                          </tr>
                        </thead>
                        <tbody>

                        {% for user in event['user'] %}
                          
                         

                       <tr>

                          {% if (user.type == null)  %}
                            <td width="10%">
                            {% if (user.avatar != null)  %}
                                <img id="bandeauImg" src="{{ asset('/web/img/avatar/') }}{{ user.avatar  }}" width="50%" >
                            {% else %}
                            <img src="/crm/img/nologo.png" width="50%">
                            {% endif %}
                            </td>

                            <td>{{user.nom}}</td>
                            
                            <td>{{user.prenom}}</td>
                            <td><a href="{{ path('softivendor_crm_business_fiche_central',{'next':user.business.id} )}}">{{  user.business.societe }}</a></td>

                            <td class="presence" id="presence">
                              <span style="display: block">
                              <span class="radio_case">
                                         <input type="radio" class="status" data-id ="{{user.id}}" data-event-id ="{{event['event'].id}}" value="Present" {% if getStateUserGame(user ,event['event'] ) == 'Present' %}checked=true{% endif %} name="presence_{{user.id}}_{{event['event'].id}}">
                                        <span class="check"></span>
                                      </span>&nbsp;Présent

                              </span>
                                <span class="Remplacer" style="display: block">
                                 <span class="radio_case">
                                         <input type="radio" class="remplacant" data-id ="{{user.id}}" data-event-id ="{{event['event'].id}}" value="Remplaçant"  {% if getStateUserGameRemplacant(user ,event['event'] ) == 'Remplaçant' %}checked="checked"{% endif %} name="presence_{{user.id}}_{{event['event'].id}}">
                                  <span class="check"></span>
                                      </span>&nbsp;Remplacer par
                                  
                                  <select class="selectUser" id="selectUser_{{event['event'].id}}_{{user.business.id}}" name = "presence_{{user.id}}_{{event['event'].id}}">
                                    <option></option>

                                    {% for users in event['users'] %}
                                        {% set remplacent = getStateRemplacant(users , event['event']  ,user ) %}
                                         {% if users.business.id == user.business.id %}
                                          <option value="{{users.id}}" {% if remplacent is not empty and remplacent.userGames.id == users.id %} selected {% endif %} class="selectedRemplacant">{{users.nom}} {{users.prenom}}</option>
                                          {% endif %}
                                       
                                   {% endfor %}
                                  </select>
                                  <a href="#" class="btn newuser" data-user-id ="{{user.id}}" data-event="{{event['event'].id}}"  data-idBus="{{user.business.id}}" data-event-date = "{{event['event'].datet | date("Y")}}"  data-id-select="selectUser_{{event['event'].id}}_{{user.business.id}}" data-toggle="modal" data-target="#modalajout">Ajouter un nouveau remplaçant.</a>
                                </span>
                                <span style="display: block">
                                <span class="radio_case">
                                         <input type="radio"  class="status" data-id ="{{user.id}}" data-event-id ="{{event['event'].id}}" value="Absent" {% if getStateUserGame(user ,event['event'] ) == 'Absent' %}checked="checked"{% endif %} name="presence_{{user.id}}_{{event['event'].id}}">
                                        <span class="check"></span>
                                      </span>&nbsp;Absent
                                </span>
                            </td>
                            <td  class="action">
                              <a href="#" class="btn btn-theme04 saveUser">Enregistrer</a>
                            </td>
                            {% endif %}
                          </tr>
                   
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>

          {% endfor %}


           

        </div>
      </div>
        </div>
      </section>

       <div class="col-md-6 col-lg-4 pagination_liste">
        {{ knp_pagination_render(dataGamesAndEvent,'SoftivendorCRMBundle:Paginate:templatePaginator.html.twig') }}
      </div>

      <div class="modal-contrat-modif">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header text-center">
                <h4 class="modal-title" id="myModalLabel">Modification faite avec succès </h4>
              </div>
               <div class="modal-body">
                      <i class="fa fa-check-circle true"></i>
                    </div>
            </div>
          </div>
         </div>



    <div class="modal fade" id="modalajout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

      <div class="modal-dialog">

          <div class="form-panel pt-3 liste-collaborateur form-horizontal">
         <form name="form_new_user" class="">
          <input type="hidden" name="bussnessId" value="" id="bussnessId">
          <input type="hidden" name="dateEvent" value="" id="dateEvent">
          <input type="hidden" name="selectId" value="" id="selectId">
          <input type="hidden" name="idEventAjx" value="" id="idEventAjx">
          {# <input type="hidden" name="dateEvent" value="" id="dateEvent"> #}
                    <div class="row">
                      <div class="col-md-2">
                         <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-new thumbnail">
                                <img src="/crm/img/nologo.png" alt="">
                              </div>
                              <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                              <div>
                                <span class="btn btn-theme02 btn-file">
                                  <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select image</span>
                                <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                <input type="file" id="filelogo" class="default">
                                </span>
                                <a href="#" title="Remove" class="btn btn-theme04 fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Supprimer</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-10">
                        {# <form class="form-horizontal style-form" method="get"> #}
                          <div class="form-group mt-3">
                            <label class="col-sm-2 col-sm-2 control-label">Nom</label>
                            <div class="col-sm-4">
                              <input type="text" id="nom" class="form-control">
                            </div>

                              <label class="col-sm-2 col-sm-2 control-label">Prénom</label>
                            <div class="col-sm-4">
                              <input type="text" id="prenom" class="form-control">
                            </div>

                          </div>
                          <div class="form-group mt-3">

                            <label class="col-sm-2 col-sm-2 control-label">Civilité</label>
                            <div class="col-sm-4">
                             <select id="selectCiviliter" class="form-control">
                              <option value="">Selectionnez</option>
                              <option value="Mr">Monsieur </option>
                              <option value="Mme">Madame </option>
                              <option value="Mlle">Mademoiselle </option>
                              
                            </select>
                            </div>

                          </div>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <article>
                          <div class="text-right">
                            {# <button type="button" class="btn btn-theme" title="Enregistrer">Enregistrer</button> #}
                             <button type="button"  class="btn btn-theme saveUserNew"  data-dismiss="modal" title="Enregistrer">Enregistrer</button>
                            <button type="button" class="btn btn-theme" data-toggle="modal" data-target="#modalajout" title="">Fermer</button>
                         </div>
                        </article>
                      </div>
                    </div>
                  </div>
</form>

        </div>
      </div>

  </div>


{% include "SoftivendorCRMBundle:EventInGame:listJs.html.twig" %}


{# <script type="text/javascript" >
  
$(document).ready(function(){

$('.newuser').on('click',function()
  {
    var busnessId = $(this).data('idbus');

    var dateEvent = $(this).data('event-date');

    var userId = $(this).data('user-id');

    var selectId = $(this).data('id-select');

    var idEventAjx = $(this).data('event');

    var userReplaceId = $(this).parent().parent().find('.selectedRemplacant').val();
   
    $('#bussnessId').val(busnessId);
    $('#dateEvent').val(dateEvent);
    $('#userId').val(userId);
    $('#selectId').val(selectId);
    $('#idEventAjx').val(idEventAjx);

  })



$('.saveUserNew').on('click', function(){
 $("#myModalLabel").text('Ajout avec succès')
  // $('form[name="softivendor_crmbundle_usergames"]').submit();

 // $($("#selectId ").val()).load(location.href) ;


   var fileInput = document.querySelector('input[type=file]');
   var path = fileInput.value;
   var fileName = path.split(/(\\|\/)/g).pop();
 
   var form_data = new FormData(); 

   form_data.append('nom', $('#nom').val());
   form_data.append('prenom', $('#prenom').val());
   form_data.append('civilite', $('#selectCiviliter').val());
   form_data.append('logo', fileName);
   form_data.append('bussnessId', $('#bussnessId').val());
   form_data.append('dateEvent', $('#dateEvent').val());
   form_data.append('idEventAjx', $('#idEventAjx').val());

   var eventId = form_data.get('idEventAjx');
   var bussnessId = form_data.get('bussnessId');



   $.ajax({
       method: "POST",
       url: "{{ path('softivendor_crm_event_ingames_saveNewUser') }}",
       processData: false,
       contentType: false,
       data: form_data
   }).done(function( reponse ) {

      rp = (JSON.parse(reponse));
      $('#selectUser_'+ eventId +'_'+ bussnessId ).each(function(){
          $(this).append('<option value = "'+ rp.idUser +'"> '+ rp.nom +' '+ rp.prenom+'</option> ')
      })

            $('.modal-contrat-modif').fadeIn(800, function(){
                $(this).children().fadeIn(500)
                }).delay(1000).fadeOut(800)

      });


  })





// $('.table-in-game tr').each(function (){

//   var eventId = $(this).find('input').attr('data-event-id');
//   var userId = $(this).find('input').attr('data-id');


//   $('.selectUser').prop('disabled',true);


//   $(this).find('.Remplacer input[name="presence_'+userId+'_'+eventId+'"]').click(function(){

//      // alert($('input[name="presence_'+userId+'_'+eventId+'"]').val());
//      $('.selectUser').prop('disabled',false);
//   })
  
// })

})

</script>  

<script type="text/javascript" >
  
$(document).ready(function(){
   $(document).on('click','.saveUser',function(){
     $("#myModalLabel").text('Modification faite avec succès')
     var status = $(this).parent().parent().find($( "input:checked" )).val();
     var idRemplacant = $(this).parent().parent().find('.selectUser').val();
     var userParent = $(this).parent().parent().find('.remplacant').attr('data-id');
     var eventId = $(this).parent().parent().find('.remplacant').attr('data-event-id');

     if(status == "Present"){

      $.ajax({

            method: "POST",
            url: "{{ path('softivendor_crm_event_ingames_user_status') }}",
            data: {
                userParent: userParent,
                status : status,
                eventId : eventId,
                idRemplacant : idRemplacant,
            }

          }).done(function(data) {
               $(".nbr_part_"+eventId).load(location.href + " .count_"+eventId);
               
               $('.modal-contrat-modif').fadeIn(800, function(){
                  
                $(this).children().fadeIn(500)
                }).delay(1000).fadeOut(800)

             
          })   
        

        
        
     }else if(status == "Absent"){

       $.ajax({

            method: "POST",
            url: "{{ path('softivendor_crm_event_ingames_user_status') }}",
            data: {
                userParent: userParent,
                status : status,
                eventId : eventId,
                idRemplacant : idRemplacant,
            }

          }).done(function(data) {
               $(".nbr_part_"+eventId).load(location.href + " .count_"+eventId);
               
               $('.modal-contrat-modif').fadeIn(800, function(){
                $(this).children().fadeIn(500)
                }).delay(1000).fadeOut(800)

             
          })   

     }else{

        $.ajax({

        method: "POST",
        url: "{{ path('softivendor_crm_event_ingames_user_status_remplacant') }}",
        data: {
            idRemplacant: idRemplacant,
            userParent: userParent,
            status : status,
            eventId : eventId,
            // remplacantId : remplacantId,
        }

      }).done(function(data) {

          $(".nbr_part_"+eventId).load(location.href + " .count_"+eventId);

           $('.modal-contrat-modif').fadeIn(800, function(){
                $(this).children().fadeIn(500)
                }).delay(1000).fadeOut(800)
              
      })

     }
     



        
  });

})
</script>    


<script type="text/javascript" >
  
$(document).ready(function(){
  // $('.hideme').on('click',function(){
  //   // $('form[name="softivendor_crmbundle_usergames"]').submit();
  // });


})
</script>    




  <script type="text/javascript">
      
      var exportAllGuestInOneEventInXlsx_option_path = "{{path('softivendor_crm_event_ingames_exportAllGuestInOneEventInXlsx')}}";
      var exportAllFactureInXlsx_path = "{{path('softivendor_event_reservation_exportAllFactureInXlsx')}}";
      var exportAllFactureInOneEventInXlsx_path = "{{path('softivendor_event_reservation_exportAllFactureInOneEventInXlsx')}}";
      var exportAllFactureInPdf_path = "{{path('softivendor_event_reservation_exportAllFactureInPdf')}}";
      var exportAllFactureInOneEventInPdf_path = "{{path('softivendor_event_reservation_exportAllFactureInOneEventInPdf')}}";
      var exportAllGuestInOneEventInPdf_path="{{path('softivendor_crm_event_ingames_exportAllGuestInOneEventInPdf')}}"; //04 10 2021

      var $export_button = $('#export_button');
      var $export_option = $('#export_option'); 
      var $voir_export_event = $('.voir_export_event');
      var exportAllEventInXlsx_option_value = '1';
      var exportAllFactureInXlsx_option_value = '2';
      var exportAllFactureInPdf_option_value = '3';
      var exportAllGuestInOneEventInXlsx_option_value = '1';
      var exportAllFactureInOneEventInXlsx_option_value = '2';
      var exportAllFactureInOneEventInPdf_option_value = '3';
      var exportAllGuestInOneEventInPdf_option_value = '4'; //04 10 2021
      var testGenerateXlsx_option_value = '99';

      $(function () {
          onClickExportButtonDoExport(); 
      });

      function onClickExportButtonDoExport () {
          onClickExportForAllEvent ();
          onClickExportForOneEvent ();
      }

      function onClickExportForAllEvent () {
          $export_button.click(function () {
              exportByExportOptionVal ();
          });
      }

      function onClickExportForOneEvent() {
          $voir_export_event.click(function () {
              var event_id = $(this).next('.event_id').val(); 
              var export_option_event = $(this).prev('.export_option_event').val();
              console.log(event_id);
              exportByExportOptionValForOneEvent (event_id, export_option_event);
          });
      }

      function exportByExportOptionVal () {
          switch ($export_option.val()) {
              case exportAllEventInXlsx_option_value:
                  openNewTabToPath (exportAllEventInXlsx_path); 
                  break;
              case testGenerateXlsx_option_value:
                  openNewTabToPath (testGenerateXlsx_path); 
                  break;
              case exportAllFactureInXlsx_option_value:
                  openNewTabToPath (exportAllFactureInXlsx_path); 
                  break;
              case exportAllFactureInPdf_option_value:
                  openNewTabToPath (exportAllFactureInPdf_path); 
                  break; 
              
              default: 
                  console.log(exportAllEventInXlsx_path);
                  break;
          }
      }

      function exportByExportOptionValForOneEvent (event_id, export_option_event) {  
          switch (export_option_event) {
              case exportAllGuestInOneEventInXlsx_option_value:
                  openNewTabToPath (exportAllGuestInOneEventInXlsx_option_path + '?eventid=' + event_id); 
                  break; 
              case exportAllFactureInOneEventInXlsx_option_value:
                  openNewTabToPath (exportAllFactureInOneEventInXlsx_path + '?eventid=' + event_id); 
                  break;
              case exportAllFactureInOneEventInPdf_option_value:
                  openNewTabToPath (exportAllFactureInOneEventInPdf_path + '?eventid=' + event_id); 
                  break;

              case exportAllGuestInOneEventInPdf_option_value:
                  openNewTabToPath (exportAllGuestInOneEventInPdf_path + '?eventid=' + event_id); 
                  break;

              default: 
                  console.log(exportAllEventInXlsx_path);
                  break;
          }
      }

      function openNewTabToPath (path) {
          window.open(path, '_blank');
      }

      </script>   
 #}

 {% endblock %}
